*.o
*.a
*~
*/Makefile
stamp-h1
stamp-h
src/lrz
src/lsz
src/lrzszbug
config.cache
config.h
config.log
config.status
lib/.deps/
src/.deps
po/stamp-po
libtool
Makefile
autom4te.cache/
systype
Specfile
po/Makefile.in
fastcheck.ok
